{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <link href="{% static 'om/css/bootstrap.min14ed.css' %}" rel="stylesheet">
    <script src="{% static 'om/js/echarts.min.js' %}"></script>
	<script src="{% static 'om/js/dark.js' %}"></script>
    <script src="{% static 'om/js/jquery.min.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
	<style type="text/css">
        html
        {
         height:100%;
         margin:0;
        }
        body
        {
            height:100%;
            margin:0; 
        }
    </style>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width:100%; height:100%"></div>
    <!--suppress JSUnresolvedVariable, JSUnusedLocalSymbols -->
    <script type="text/javascript">
        var legend_selected = {'指数': false, '竞猜': false};

        function get_sh_zj(){
            var result = 0;
            $.ajax({dataType:'json', url : "{%url 'utils:get_sh_zs'%}", async:false, success : function(ele){
                    result = ele.result;
            }});
            return result
        }

        {% if i_need_voted %}
            layer.prompt(
                {title: '请投票（当前参考指数：'+get_sh_zj()+'）！'},
                function(val, index){
                    if (!isNaN(val)) {
                        $.post("{% url 'utils:activity_vote' %}", {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'guess': val
                        },function(_) {
                            location.reload();
                        });
                    }
                    else {
                        location.reload();
                    }
                    layer.close(index);
                }
            );
        {% elif finished %}
            var chart_result = echarts.init(document.getElementById('main'), 'dark');
            chart_result.on('legendselectchanged', function (params) {
                legend_selected = params.selected;
            });
            function set_result_chart(name_arr, guess_arr) {
                if (name_arr.length !== guess_arr.length) {
                    console.log('长度不一致');
                }

                var offset = [];
                var flags = [];
                var flag = get_sh_zj();
                guess_arr.forEach(function(e){
                    offset.push(Math.round((e-flag)*100)/100);
                    flags.push(flag);
                });

                var option = {
                    title: {text: '竞猜结果（双击条目可刷新数据）'},
                    tooltip: {trigger: 'axis', axisPointer: {type: 'shadow'}},
                    toolbox: {feature: {restore: {}, saveAsImage: {}}},
                    legend: {data: ['偏差', '指数', '竞猜'], selected : legend_selected},
                    grid: {left: '3%', right: '4%', bottom: '3%', containLabel: true},
                    xAxis: [{type: 'value'}],
                    yAxis: [{type: 'category', axisTick: {show: false}, data: name_arr}],
                    series: [
                        {name: '偏差', type: 'bar', label: {normal: {show: true, position: 'inside'}}, data: offset},
                        {name: '竞猜', type: 'bar', label: {normal: {show: true, position: 'inside'}},data: guess_arr},
                        {name: '指数', type: 'bar', label: {normal: {show: true,position: 'inside'}}, data: flags}
                    ]
                };

                chart_result.setOption(option);
            }
            function refresh_result_chart() {
                chart_result.showLoading();
                $.get("{%url 'utils:activity_data'%}", function(ele) {
                    set_result_chart(ele.names, ele.guess);
                });
                chart_result.hideLoading();
            }
            refresh_result_chart();
            chart_result.on('dblclick', function (_) {
                refresh_result_chart();
            });
            //setInterval(refresh_chart, 5000);
        {% else %}
            var chart_progress = echarts.init(document.getElementById('main'), 'dark');
            function set_progress_chart(joined_count, voted_count) {
                var option = {
                    tooltip: {formatter: "{a} <br/>{b} : {c}%"},
                    toolbox: {feature: {restore: {}, saveAsImage: {}}},
                    series: [
                        {
                            name: '完成率(双击指针可刷新数据)', type: 'gauge',axisLine: {
                                lineStyle: {
                                    color: [[0.09, 'lime'], [0.82, '#1e90ff'], [1, '#ff4500']], width: 3,
                                    shadowColor: '#fff', shadowBlur: 10
                                }
                            },
                            axisLabel: {textStyle: {fontWeight: 'bolder', color: '#fff', shadowColor: '#fff', shadowBlur: 10}},
                            axisTick: {length: 15, lineStyle: { color: 'auto', shadowColor: '#fff', shadowBlur: 10}},
                            splitLine: {length: 25, lineStyle: {width: 3, color: '#fff', shadowColor: '#fff', shadowBlur: 10}},
                            pointer: {shadowColor: '#fff', shadowBlur: 5},
                            title: {
                                textStyle: {
                                    fontWeight: 'bolder', fontSize: 20, fontStyle: 'italic',
                                    color: '#fff', shadowColor: '#fff', shadowBlur: 10
                                }
                            },
                            detail: {
                                backgroundColor: 'rgba(30,144,255,0.8)', borderWidth: 1, borderColor: '#fff',
                                shadowColor: '#fff', shadowBlur: 5,
                                //offsetCenter: [0, '50%'],       // x, y，单位px
                                textStyle: {fontWeight: 'bolder', color: '#fff'},
                                formatter: '{value}%'
                            },
                            data: [{
                                value: Math.round(voted_count / joined_count * 100),
                                name: '投票中('+voted_count+'/'+joined_count+')'
                            }]
                        }
                    ]
                };
                chart_progress.setOption(option);
            }
            function refresh_progress_chart() {
                chart_progress.showLoading();
                $.get("{%url 'utils:activity_status'%}", function(result) {
                    if (result.voted_count < result.joined_count) {
                        set_progress_chart(result.joined_count, result.voted_count);
                    }
                    else {
                        location.reload();
                    }
                });
                chart_progress.hideLoading();
            }
            refresh_progress_chart();
            chart_progress.on('dblclick', function (_) {
                refresh_progress_chart();
            });
        {% endif %}
    </script>
</body>
</html>