{% extends 'om/base.html' %}
{% load form_extra_tag %}
{% load staticfiles %}
{% block other_css %}
    {{ form.media.css }}
{% endblock %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    {% if user.is_superuser %}
    <p>{{ errors }}</p>
    {% endif %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>验证防火墙</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" method='post' id="id_form">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                                    <div class="col-sm-8" style='display:block;'>
                                        {{ field | set_attr:'class=form-control' | set_attr:'style=width:100%' }}
                                        {% if field.errors %}
                                            <div class="alert alert-warning">{{ field.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-5">
                                    <button class="btn btn-success" id="id_check_port" type="button" value="save">验端口</button>
                                    <button class="btn btn-success" id="id_check_policy" type="button" value="save">验策略</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8  col-sm-offset-2">
                                    <div class="alert alert-info alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        验策略受限于科技api的返回速度，有时会比较慢，需要耐心等待.
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
    {{ form.media.js }}
    {% include 'om/json_view.html' %}
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        const web = new channels.WebSocketBridge();
        web.connect(window.location.pathname+'?session_key={{ request.session.session_key }}');
        web.listen(function(action) {
            $("#json").JSONView(action, { collapsed: true, nl2br: true, recursive_collapser: true });
            var json_layer = layer.open({
              type: 1,
              skin: 'layui-layer-demo', //样式类名
              closeBtn: 0, //不显示关闭按钮
              anim: 2, area: ['90%', '90%'],
              shadeClose: true, //开启遮罩关闭
              content: $('#json_view')
            });
            layer.closeAll('loading');
        });
        $("#id_check_port").on("click", function(){
            var d = {check_type: 'port'};
            $.each($('#id_form').serializeArray(), function() {
                if (this.name !== 'csrfmiddlewaretoken') {
                    this.name in d ? d[this.name].push(this.value) : d[this.name] = [this.value]
                }
            });
            web.send(d);
            layer.load();
        });
        $("#id_check_policy").on("click", function(){
            var d = {check_type: 'policy'};
            $.each($('#id_form').serializeArray(), function() {
                if (this.name !== 'csrfmiddlewaretoken') {
                    this.name in d ? d[this.name].push(this.value) : d[this.name] = [this.value]
                }
            });
            web.send(d);
            layer.load();
        });
    </script>
{% endblock %}