{% extends 'om/base.html' %}
{% load form_extra_tag %}
{% load staticfiles %}
{% block other_css %}
    {{ form.media.css }}
{% endblock %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    {% if user.is_superuser %}
    <p>{{ errors }}</p>
    {% endif %}
    <div class="row">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>信息查询</h5>
            </div>
            <div class="ibox-content">
                <table id="table" data-toggle="table"
                       data-striped="true" data-click-to-select="true"
                       data-page-list="[10, 20, 50 ,ALL]"
                       data-resizable="true" data-show-export="true"
                       data-minimum-count-columns="2" data-show-columns="true"
                       data-icon-size="sm" data-search="false"
                       data-pagination="true" data-side-pagination="server"
                       data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                       data-export-options='{
                         "escape": true,
                         "fileName": "防火墙",
                         "worksheetName": "防火墙",
                         "jspdf": {
                           "autotable": {
                             "styles": { "rowHeight": 20, "fontSize": 10 },
                             "headerStyles": { "fillColor": 255, "textColor": 0 },
                             "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                           }
                         }
                       }'
                >
                    <thead>
                        <tr>
                            <th>逻辑实体(请求方)</th>
                            <th data-width="60">服务器名称</th>
                            <th data-width="60">IP</th>
                            <th>逻辑实体(响应方)</th>
                            <th data-width="60">服务器名称</th>
                            <th data-width="60">IP</th>
                            <th data-width="10">端口</th>
                            <th data-width="10">服务类型</th>
                            <th data-width="10">空闲超时值(分钟)</th>
                            <th data-width="10">应用层检测要求</th>
                            <th data-width="10">有效期</th>
                            <th data-width="10">环境</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>TCP</td>
                            <td>无</td>
                            <td>无</td>
                            <td>长期</td>
                            <td>生产</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/prettyfile/bootstrap-prettyfile.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static 'om/plugins/multi-select/js/jquery.quicksearch.min.js' %}"></script>
    <script src="{% static 'om/plugins/multi-select/js/jquery.multi-select.min.js' %}"></script>
    {{ form.media.js }}
    {% include 'om/table_load.html' %}
{% endblock %}