{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>查看历史任务</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="toolbar" class="btn-group">
                            <button disabled id="id_approval_task" class="btn btn-xs btn-primary" title="审批"><i class="fa fa-hand-o-right">审批</i></button>
                            <button disabled id="id_exec_task" class="btn btn-xs btn-success" title="执行"><i class="fa fa-hand-o-right">执行</i></button>
                            {% if user.is_superuser %}
                                <button disabled id="id_status" class="btn btn-xs btn-info" title="结果"><i class="fa fa-rss">结果</i></button>
                            {% endif %}
                            <button disabled id="id_redo" class="btn btn-xs btn-white" title="重做"><i class="fa fa-repeat">重做</i></button>
                            <button disabled id="id_detail" class="btn btn-xs btn-primary" title="详情"><i class="fa fa-bar-chart">详情</i></button>
                        </div>
                        <table data-toggle="table" id="table" data-url="{% url 'om:get_action_history_list' %}"
                               data-id-field="id" data-page-list="[10, 25, 50{% if user.is_superuser %},ALL{% endif %}]"
                               data-show-toggle="true" data-resizable="true" data-toolbar="#toolbar"
                               data-minimum-count-columns="2" data-show-columns="true"
                               data-show-refresh="true" data-icon-size="sm" data-search="true"
                               data-pagination="true" data-side-pagination="server"  data-single-select="true"
                               data-show-export="true" data-pagination-v-align="both"  data-click-to-select="true"
                               data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                               data-export-options='{
                                 "fileName": "任务",
                                 "worksheetName": "任务",
                                 "jspdf": {
                                   "autotable": {
                                     "styles": { "rowHeight": 20, "fontSize": 10 },
                                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                                   }
                                 }
                               }'
                        >
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="id" data-sortable="true" data-width="15">ID</th>
                                    <th data-field="name" data-sortable="true">任务名称</th>
                                    <th data-field="approval_status" data-sortable="true" data-width="40">审批状态</th>
                                    <th data-field="approver" data-sortable="true">审批人</th>
                                    <th data-field="approval_desc" data-sortable="true">审批意见</th>
                                    <th data-field="exec_user" data-sortable="true" data-width="80">启动人</th>
                                    <th data-field="founder" data-sortable="true" data-width="80">创建人</th>
                                    <th data-field="status" data-sortable="true" data-width="40">任务状态</th>
                                    <th data-field="start_time" data-sortable="true" data-width="160">开始时间</th>
                                    <th data-field="end_time" data-sortable="true" data-width="160">结束时间</th>
                                    <th data-field="cost_time" data-width="15">耗时（秒）</th>
                                    <th data-field="recipient" data-sortable="true" data-width="160">收件人</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    {% include 'om/table_load.html' %}
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static 'om/js/plugins/toastr/toastr.min.js' %}"></script>
    <!--suppress JSUnusedLocalSymbols, JSUnresolvedVariable -->
    <script type="text/javascript">
        $(document).ready(function() {
            var $table = $('#table');
            $table.bootstrapTable('hideColumn', 'founder');
            $table.bootstrapTable('hideColumn', 'approver');
            $table.bootstrapTable('hideColumn', 'approval_desc');
            $table.bootstrapTable('hideColumn', 'end_time');
        });

        var $table=$("#table"), $approval_task=$("#id_approval_task"), $exec_task=$("#id_exec_task"),
            $status = $("#id_status"), $redo=$("#id_redo"), $detail=$("#id_detail"), selections = [];
        var need_single = [$approval_task, $exec_task, $status, $redo, $detail];

        $table.on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table', function () {
            selections = $table.bootstrapTable('getSelections');
            need_single.forEach(function(btn) {
                btn.prop('disabled', selections.length !== 1);
            });

            if (selections.length === 1) {
                var row = selections[0];
                $approval_task.prop('disabled', row.approval_status !== '未审');
                $exec_task.prop('disabled', row.status !== '未执行' || row.approval_status !== '通过');
                $status.prop('disabled', row.status === '未执行');
                $redo.prop('disabled', row.status === '未执行');
            }
        });

        function single_bind(btn, func) {
            btn.click(function () {
                if (selections.length === 1) {
                    func(selections[0])
                }
                else {
                    layer.msg('需要仅选中一个！',{time: 2000, icon: 1});
                }
            })
        }

        function show_detail(task_id){
            var detail_layer = layer.open({
                  type: 2,
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content: "/om/action_detail/" + task_id
            });
            layer.full(detail_layer);
        }

        function exec_task(task_id) {
            $.get('/om/exec_task/'+task_id, function(result) {
                if (result.result === 'Y') {
                    var detail_layer = layer.open({
                        type: 2,
                        area: ['700px', '530px'],
                        fix: false, //不固定
                        maxmin: true,
                        content: "/om/action_detail/" + task_id
                    });
                    layer.full(detail_layer);
                } else {
                    layer.msg(result.desc,{time: 2000});
                }
            });
        }

        single_bind($approval_task,function (row){
            var detail_layer = layer.open({
                type: 2,
                area: ['700px', '530px'],
                fix: false, //不固定
                maxmin: true,
                content: "/om/approval_task/" + row.id
            });
            layer.full(detail_layer);
        });

        single_bind($exec_task,function (row){
            $.get('/om/confirm_exec_task/'+row.id, function(result) {
                if (result.result === 'Y') {
                    layer.confirm('此任务执行对象包含生产主机，是否确认执行？', {
                        title: '执行确认',
                        btn: ['确认执行','放弃执行']
                    }, function(index){
                        layer.close(index);
                        exec_task(row.id);
                    }, function(){
                        layer.msg('已取消',{time: 2000, icon: 1});
                    });
                }
                else {
                    exec_task(row.id)
                }
            });
        });

        {% if user.is_superuser %}
            function show_task_status(task_id){
                var task_status = layer.open({
                      type: 2,
                      area: ['700px', '530px'],
                      fix: false, //不固定
                      maxmin: true,
                      content: "/om/task_status/" + task_id
                });
                layer.full(task_status);
            }
            single_bind($status,function (row){
                show_task_status(row.id);
            });
        {% endif %}

        single_bind($redo,function (row){
            $.get('/om/redo_create_task/'+row.id, function(result) {
                $('#table').bootstrapTable('refresh');
                layer.msg(result.desc,{time: 2000});
            });
        });

        single_bind($detail,function (row){
            show_detail(row.id);
        });
    </script>
{% endblock %}