{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>执行作业流</h5>
                    </div>
                    <div class="ibox-content">
                        <table data-toggle="table" id="table" data-url="{% url 'om:get_action_history_list' %}"
                               data-id-field="id" data-page-list="[10, 25, 50]"
                               data-show-toggle="true" data-resizable="true"
                               data-minimum-count-columns="2" data-show-columns="true"
                               data-show-refresh="true" data-icon-size="sm" data-search="true"
                               data-pagination="true" data-side-pagination="server"
                               data-show-export="true"
                               data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                               data-export-options='{
                                 "fileName": "任务",
                                 "worksheetName": "任务",
                                 "jspdf": {
                                   "autotable": {
                                     "styles": { "rowHeight": 20, "fontSize": 10 },
                                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                                   }
                                 }
                               }'
                        >
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true" data-width="15">ID</th>
                                    <th data-field="name" data-sortable="true">任务名称</th>
                                    <th data-field="approval_status" data-sortable="true" data-width="40">审批状态</th>
                                    <th data-field="approver" data-sortable="true">审批人</th>
                                    <th data-field="approval_desc" data-sortable="true">审批意见</th>
                                    <th data-field="exec_user" data-sortable="true" data-width="80">启动人</th>
                                    <th data-field="founder" data-sortable="true" data-width="80">创建人</th>
                                    <th data-field="status" data-sortable="true" data-width="40">任务状态</th>
                                    <th data-field="start_time" data-sortable="true" data-width="160">开始时间</th>
                                    <th data-field="end_time" data-sortable="true" data-width="160">结束时间</th>
                                    <th data-field="cost_time" data-width="15">耗时（秒）</th>
                                    <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents" data-width="180">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    {% include 'om/table_load.html' %}
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static 'om/js/plugins/toastr/toastr.min.js' %}"></script>
    <!--suppress JSUnusedLocalSymbols, JSUnresolvedVariable -->
    <script type="text/javascript">
        $(document).ready(function() {
            var $table = $('#table');
            //$table.bootstrapTable('hideColumn', 'approval_status');
            $table.bootstrapTable('hideColumn', 'approver');
            $table.bootstrapTable('hideColumn', 'start_time');
            $table.bootstrapTable('hideColumn', 'end_time');
        });

        function actionFormatter(value, row, index) {
            var actions = new Array()
            actions.push('<div class="btn-group">')
            if (row.approval_status == '未审') {
                actions.push('<button class="btn btn-xs btn-success approval_task" title="审批"><i class="fa fa-hand-o-right">审批</i></button>');
            } else {
                if (row.task_status == '未执行') {
                    if (row.approval_status == '通过') {
                        actions.push('<button class="btn btn-xs btn-success exec_task" title="执行"><i class="fa fa-hand-o-right">执行</i></button>');
                    }
                }
                else {
                    actions.push('<button class="btn btn-xs btn-primary status" title="结果"><i class="fa fa-rss">结果</i></button>');
                }
                if (row.task_status == '已执行') {
                    actions.push('<button class="btn btn-xs btn-white redo" title="重做"><i class="fa fa-repeat">重做</i></button>');
                }
            }
            actions.push('<button class="btn btn-xs btn-primary detail" title="详情"><i class="fa fa-bar-chart">详情</i></button>');
            actions.push('</div>')
            return actions.join('&nbsp;&nbsp;');
        }
        function show_detail(task_id){
            var detail_layer = layer.open({
                  type: 2,
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content: "/om/action_detail/" + task_id
            });
            layer.full(detail_layer);
        }
        function show_task_status(task_id){
            var task_status = layer.open({
                  type: 2,
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content: "/om/task_status/" + task_id
            });
            layer.full(task_status);
        }
        window.actionEvents = {
            'click .status': function (e, value, row, index) {
                show_task_status(row.id);
            },
            'click .approval_task': function (e, value, row, index) {
                var detail_layer = layer.open({
                    type: 2,
                    area: ['700px', '530px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "/om/approval_task/" + row.id
                });
                layer.full(detail_layer);
            },
            'click .exec_task': function (e, value, row, index) {
                $.get('/om/exec_task/'+row.id, function(result) {
                    if (result.result == 'Y') {
                        var detail_layer = layer.open({
                            type: 2,
                            area: ['700px', '530px'],
                            fix: false, //不固定
                            maxmin: true,
                            content: "/om/action_detail/" + row.id
                        });
                        layer.full(detail_layer);
                    } else {
                        layer.msg(result.desc,{time: 2000});
                    }
                });
            },
            'click .redo': function (e, value, row, index) {
                $.get('/om/redo_create_task/'+row.id, function(result) {
                    $('#table').bootstrapTable('refresh');
                    layer.msg(result.desc,{time: 2000});
                });
            },
            'click .detail': function (e, value, row, index) {
                show_detail(row.id);
            }
        };
    </script>
{% endblock %}