{% extends 'om/base.html' %}
{% load form_extra_tag %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block other_css %}
    <style type="text/css">
        .window {
            color: white;
            font: "微软雅黑";
            border:4px #ccc outset;
            background-color:white;
            overflow:hidden
        }
        .title {
            background-color:#08246B;
            margin-bottom:2px;
        }
        .text {
            outline:none;
            color: white;
            margin: 0;
            padding: 0;
            font: "Courier New";
            background-color:#000;
            border: 0;
            display: block;
            max-height: 445px;
            overflow-y:scroll;
        }
    </style>
{% endblock %}
{% block body_content %}
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="window">
                    <div class="title"><span>{{ minion.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ minion.os }}</span></div>
                    <div class="text" style="overflow-x: hidden; overflow-y: auto;">
                        <pre class="text" style="height: 445px" id="result"></pre>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <select title="执行用户，windows系统请选NA" id="id_user" name="user" class="chosen-select" style="width:115px;">
                            {% for user in users %}
                                <option value="{{ user }}" {% if user == default_user %}selected{% endif %}>{{ user }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <input id="id_cmd" name="cmd" maxlength="1000" placeholder="注意，命令不能阻塞" class="form-control" required="">
                    <span class="input-group-btn">
                        <button title="发送" id="cmd_send" class="btn btn-sm btn-primary" type="button"><i class="fa fa-arrow-right"></i></button>
                        <button title="返回" id="get_back" class="btn btn-sm btn-info" type="button"><i class="fa fa-reply"></i></button>
                        <button title="拷贝" class="btn btn-sm btn-success" onClick='copyToClipboard("result");' type="button">
                            <i class="fa fa-copy"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/chosen/chosen.jquery.js' %}"></script>
	<script src="{% static 'om/js/reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function (){
            $("#id_cmd").focus();
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var url = ws_scheme + '://' + window.location.host + window.location.pathname;
            url += '?session_key={{ request.session.session_key }}';
            //noinspection JSUnresolvedFunction
            var inst = new ReconnectingWebSocket(url);
            inst.onmessage = function(msg) {
                $('#result').text(JSON.parse(msg.data).result);
                layer.closeAll('loading');
            };
            $("#id_user").chosen();
            function send_cmd(){
                var send_data = {
                    'name': '{{ minion.name }}',
                    'cmd': $('#id_cmd').val(),
                    'user': $('#id_user').val()
                };
                inst.send(JSON.stringify(send_data));
                $('#result').text('请稍后……');
                layer.load();
            }
            function close_layer() {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }
            $('#cmd_send').on('click', function (){
                send_cmd();
            });
            function keyDownSearch(e) {
                // 兼容FF和IE和Opera
                var theEvent = e || window.event;
                var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
                if (code == 13) {
                    send_cmd();//具体处理函数
                    return false;
                }
                else if (code == 27) {
                    close_layer()
                }
                return true;
            }

            document.onkeydown=keyDownSearch;
            $('#get_back').on('click', function(){
                close_layer()
            });
        });
    </script>
{% endblock %}