{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>定时任务管理</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="toolbar" class="btn-group">
                            <button id="add_auto_task" class="btn btn-success">
                                <i class="glyphicon glyphicon-plus">添加</i>
                            </button>
                        </div>
                        <table id="table" data-toggle="table" data-sort-name="system"
                               data-sort-order="desc" data-url="{% url 'om:auto_task_list' %}"
                               data-striped="true" data-click-to-select="true"
                               data-pagination="true" data-search="true"
                               data-icon-size="sm" data-resizable="true"
                               data-page-list="[5, 10, 20, 50{% if user.is_superuser %},ALL{% endif %}]"
                               data-show-refresh="true" data-show-toggle="true"
                               data-filter-control="true" data-filter-show-clear="true"
                               data-toolbar="#toolbar"
                        >
                            <thead>
                            <tr>
                                <th data-field="id" data-sortable="true" data-filter-control="input" data-width="20">ID</th>
                                <th data-field="name" data-sortable="true" data-filter-control="input" data-width="300">自动任务</th>
                                <th data-field="task_info" data-sortable="true" data-filter-control="input" data-width="300">任务模板</th>
                                <th data-field="enabled" data-sortable="true" data-filter-control="select" data-width="20">是否启用</th>
                                <th data-field="type" data-sortable="true" data-filter-control="select" data-width="20">任务类型</th>
                                <th data-field="interval" data-sortable="true" data-filter-control="select" data-width="40">周期任务</th>
                                <th data-field="cron" data-sortable="true" data-filter-control="select" data-width="200">定时任务</th>
                                <th data-field="expires" data-sortable="true" data-filter-control="input" data-width="140">过期时间</th>
                                <th data-field="auto_task_action" data-formatter="actionFormatter" data-events="actionEvents" data-width="120">操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/toolbar/bootstrap-table-toolbar.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/resizable/bootstrap-table-resizable.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/resizable/colResizable-1.5.source.js' %}"></script>
    <script src="{% static 'om/js/plugins/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <!--suppress JSUnusedLocalSymbols -->
    <script>
        function actionFormatter(value, row, index) {
            var actions = new Array()
            actions.push('<div class="btn-group">')
            actions.push('<button class="btn btn-xs btn-success edit_auto_task" title="编辑"><i class="fa fa-edit">编辑</i></button>');
            actions.push('<button class="btn btn-xs btn-info delete_auto_task" title="删除"><i class="fa fa-remove">删除</i></button>');
            actions.push('<div class="btn-group">');
            actions.push('</div>');
            return actions.join('&nbsp;&nbsp;');
        }
        window.actionEvents = {
            'click .edit_auto_task': function (e, value, row, _) {
                var edit_layer = layer.open({
                  type: 2,
                  title: '编辑自动任务',
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content:"/om/modify_auto_task/"+row.id+"/"
                });
                layer.full(edit_layer);
            },
            'click .delete_auto_task': function (e, value, row, _) {
                layer.confirm('删除是不可逆的操作，是否确认删除？', {
                    title: '删除确认',
                    btn: ['确认删除','取消删除']
                }, function(){
                    $.get('/om/delete_auto_task/'+row.id, function(result) {
                        if (result.result == 'Y')
                        {
                            $('#table').bootstrapTable('refresh');
                            layer.msg(result.msg,{time: 2000, icon: 1});
                        }
                        else {
                            layer.msg(result.msg,{time: 2000, icon: 1});
                        }
                    });
                });
            }
        };
        $('#add_auto_task').on('click', function(){
            var edit_layer = layer.open({
              type: 2,
              title: '添加自动任务',
              area: ['700px', '530px'],
              fix: false, //不固定
              maxmin: true,
              content:"{% url 'om:add_auto_task'%}"
            });
            layer.full(edit_layer);
        });
        $(document).ready(function() {
            //
        });
    </script>
{% endblock %}