<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>运维工作平台 - 主页</title>
    {% load staticfiles %}
    <meta name="keywords" content="H+">
    <meta name="description" content="H+">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    {% block head_link %}
    <link rel="shortcut icon" href="{% static 'om/favicon.ico' %}">
    <link href="{% static 'om/css/bootstrap.min14ed.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/font-awesome.min93e3.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/style.min862f.css' %}" rel="stylesheet">
    {% endblock %}
</head>
{% endblock %}
{% block body %}
    {% block script %}
    {% endblock %}
{% endblock %}
</html>