{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>为作业组批量设置服务器IP</h5>
                    </div>
                    <div class="ibox-content">
                        <table id="table" data-toggle="table"
                               data-url="{% url 'om:get_task_server_list' %}"
                               data-striped="true" data-click-to-select="true"
                               data-page-list="[10, 20, 50{% if user.is_superuser %},ALL{% endif %}]"
                               data-show-toggle="true"
                               data-filter-control="false" data-filter-show-clear="false"
                               data-resizable="true" data-pagination-v-align="both"
                               data-minimum-count-columns="2" data-show-columns="true"
                               data-show-refresh="true" data-icon-size="sm" data-search="true"
                               data-pagination="true" data-side-pagination="server"
                               data-show-export="true"
                               data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                               data-export-options='{
                                 "fileName": "服务器",
                                 "worksheetName": "服务器",
                                 "jspdf": {
                                   "autotable": {
                                     "styles": { "rowHeight": 20, "fontSize": 10 },
                                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                                   }
                                 }
                               }'
                        >
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="entity_name" data-formatter="entityFormatter">实体</th>
                                    <th data-field="ip" data-sortable="true">IP</th>
                                    <th data-field="host" data-sortable="true">主机名</th>
                                    <th data-field="agent_name" data-sortable="true">服务名</th>
                                    <th data-field="sys" data-sortable="true">系统类型</th>
                                    <th data-field="env" data-sortable="true">环境类型</th>
                                    <th data-field="installed_agent" data-sortable="true">是否可操作</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-5">
                                <button id="save_layer" class="btn btn-primary" type="submit">保存</button>
                                <button id="cancel_layer" class="btn btn-white" type="submit">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    {% include 'om/table_load.html' %}
    <script type="text/javascript">
        $(document).ready(function() {
            var $table = $('#table');
            $table.bootstrapTable('hideColumn', 'ip');
            $table.bootstrapTable('hideColumn', 'host');
        });

        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $('#save_layer').on('click', function(){
            parent.$('#table').bootstrapTable("load", $('#table').bootstrapTable("getSelections"));
            parent.layer.close(index);
        });
        $('#cancel_layer').on('click', function(){
            parent.layer.close(index);
        });
        function entityFormatter(value, row, index) {
            var content_arr = value.split(',');
            return content_arr.length > 1 ? "<pre style='background-color: rgba(255,255,255,.15);border-style: none;padding: 0;margin: 0;'>" + content_arr.join('</br>') + '</pre>' : value;
        }
    </script>
{% endblock %}