<style type="text/css">
    .window {
        color: white;
        font: "微软雅黑";
        border:4px #ccc outset;
        background-color:white;
        overflow:hidden
    }
    .title {
        background-color:#08246B;
        margin-bottom:2px;
    }
    .text {
        outline:none;
        color: white;
        margin: 0;
        padding: 0;
        font: "Courier New";
        background-color:#000;
        border: 0;
        display: block;
        max-height: 420px;
        overflow-y:scroll;
    }
</style>
<div id="vertical-timeline" class="vertical-container light-timeline">
    {% for group in task.taskflow_set.first.taskjobgroup_set.all %}
        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg"><i class="fa fa-angle-double-down"></i></div>
            <div class="vertical-timeline-content"><h2>{{ group.name }}</h2></div>
        </div>
        {% for job in group.taskjob_set.all %}
            <div class="vertical-timeline-block" id="group_{{ job.job_id }}">
                {% if job.status == 'finish' %}
                    <div class="vertical-timeline-icon navy-bg"><i class="fa fa-check"></i></div>
                {% elif job.status == 'running' %}
                    <div class="vertical-timeline-icon blue-bg"><i class="fa fa-spinner fa-spin"></i></div>
                {% else %}
                    <div class="vertical-timeline-icon lazur-bg"><i class="fa fa-coffee"></i></div>
                {% endif %}
                <div class="vertical-timeline-content">
                    <div class="window">
                        <div class="title"><span>&nbsp;&nbsp;{{ job.name }}</span></div>
                    {% if job.status == 'finish' or job.status == 'run_fail' %}
                        <div class="text" style="overflow-x: hidden; overflow-y: auto;">
                            <pre class="text" id="output-{{ group.group_id }}_{{ job.job_id }}">{{ job.exec_output }}</pre>
                        </div>
                    {% endif %}
                    </div>
                    <button style="display: none" id="go_on-{{ group.group_id }}_{{ job.job_id }}">
                        <i class="fa fa-toggle-right">继续</i>
                    </button>
                    {% if job.status != 'no_run' and job.status != 'running' %}
                        <button class="btn btn-xs btn-info" onClick='copyToClipboard("output-{{ group.group_id }}_{{ job.job_id }}");'>复制结果到剪切板</button>
                    {% endif %}
                    <button class="btn btn-xs btn-success" id="show_detail-{{ group.group_id }}_{{ job.job_id }}">内容</button>
                    <div>
                        <span class="vertical-date">
                            <label>状态:</label>
                            {% if job.status == 'finish' %}
                            <span class="label label-primary">已完成</span>
                            {% elif job.status == 'running' %}
                            <span class="label label-primary">运行中</span>
                            {% else %}
                            <span class="label label-default">未运行</span>
                            {% endif %}
                            <label>开始时间:</label><span class="label label-primary">{{ job.begin_time|date:'Y-m-d H:i:s' }}</span>
                            <label>完成时间:</label><span class="label label-primary">{{ job.end_time|date:'Y-m-d H:i:s' }}</span>
                            <label>耗时:</label><span class="label label-primary">{{ job.cost_time }}秒</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--suppress JSUnresolvedFunction -->
            <script>
                $('#show_detail-{{ group.group_id }}_{{ job.job_id }}').click(function () {
                    var detail_layer = layer.open({
                        type: 2,
                        title: '作业内容',
                        area: ['700px', '530px'],
                        fix: false, //不固定
                        maxmin: true,
                        content: "{%url 'om:task_item_detail' job.id %}"
                    });
                    layer.full(detail_layer);
                });
                {% if job.pause_need_confirm %}
                    $('#go_on-{{ group.group_id }}_{{ job.job_id }}').click(function () {
                        $.get("{%url 'om:confirm_task' task.id task.taskflow_set.first.flow_id group.group_id job.job_id %}", function () {
                            layer.msg('将继续往下执行！',{time: 2000, icon: 1});
                            $('#go_on-{{ group.group_id }}_{{ job.job_id }}').hide();
                        });
                    });
                    function job_confirm(){
                        layer.confirm('{{ job.pause_finish_tip }}', {
                            title: '作业[{{ job.name }}]已完成',
                            btn: ['继续','先等等']
                        }, function(){
                            $.get("{%url 'om:confirm_task' task.id task.taskflow_set.first.flow_id group.group_id job.job_id %}", function () {
                                layer.msg('将继续往下执行！',{time: 2000, icon: 1});
                                $('#go_on-{{ group.group_id }}_{{ job.job_id }}').hide();
                            });
                        }, function(){
                            $('#go_on-{{ group.group_id }}_{{ job.job_id }}').show();
                        });
                    }
                    job_confirm();

                {% endif %}
            </script>
        {% endfor %}
    {% endfor %}
    {% if task.status == 'finish' %}
        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon blue-bg"><i class="fa fa-power-off"></i></div>
            <div class="vertical-timeline-content">
                <h2>执行完成</h2>
                <div>
                    <span class="vertical-date">
                        <label>耗时（秒）:</label>{{ cost_time }}
                    </span>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-5">
            <button class="btn btn-primary" id="close_page" type="button" value="cancel">关闭</button>
        </div>
    </div>
    <script type="application/javascript">
        $('#close_page').on('click', function(){
            var index = parent.layer.getFrameIndex(window.name);
            // parent.$('#table').bootstrapTable('refresh');
            parent.layer.close(index);
        });
    </script>
</div>
