{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <button class="btn btn-info" id="toggle_group_edit_flow"><i class="fa fa-exchange">切换视图</i></button>
                    <button class="btn btn-info" id="add_group_edit_flow"><i class="fa fa-plus">增加作业组</i></button>
                </div>
            </div>
        </div>
        <ul class="col-sm-12 sortable-list-group" style=" list-style-type: none">
            {% for group in groups %}
                <li id="group_{{group.group.id}}">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{group.group.name}} <small>(备注：{{group.group.desc}})</small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu dropdown-user todo-list m-t">
                                    <li>
                                        <a class="btn btn-w-m btn-link" id="add_task_{{group.group.id}}">
                                            <i class="fa fa-plus">添加作业</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-w-m btn-link" id="edit_task_{{group.group.id}}">
                                            <i class="fa fa-edit">编辑组</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-w-m btn-link" id="set_host_{{group.group.id}}">
                                            <i class="fa fa-edit">批量指定IP</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-w-m btn-link" id="del_task_{{group.group.id}}">
                                            <i class="fa fa-remove">删除组</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <ul class="sortable-list-task-{{group.group.id}} agile-list" id="group_{{group.group.id}}">
                                {% for job in group.job_list %}
                                    <li class="warning-element" id="task_{{group.group.id}}_{{job.id}}">
                                         <i class="fa fa-arrows-alt">{{ job.name }}</i>
                                        <a href="#" class="pull-right btn btn-xs btn-danger" id="del_task_{{group.group.id}}_{{job.id}}">
                                             <i class="fa fa-remove">删除</i>
                                         </a>
                                         <a href="#" class="pull-right btn btn-xs btn-primary" id="edit_task_{{group.group.id}}_{{job.id}}">
                                             <i class="fa fa-edit">编辑</i>
                                         </a>
                                        <a href="#" class="pull-right btn btn-xs btn-primary" id="create_quick_task_{{group.group.id}}_{{job.id}}">
                                             <i class="fa fa-edit">创建快速任务</i>
                                         </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li><div class="alert alert-info">还没有作业信息，请先添加一个！</div></li>
            {% endfor %}
            </ul>
        <div id="result"></div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content text-center">
                    <button class="btn btn-primary" id="exec_edit_flow"><i class="fa fa-arrow-circle-o-right">创建任务</i></button>
                    <button class="btn btn-info" id="get_back"><i class="fa fa-reply">返回</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'om/js/demo/peity-demo.min.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static 'om/js/plugins/validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/validate/messages_zh.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function(x) {
                x.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });
        $(document).ready(
            function(){
                $("#exec_edit_flow").on("click", function(){
                    $.get('/om/create_task/'+'{{ flow.id }}'+'/-1', function(result) {
                        layer.msg(result.desc,{time: 5000});
                    });
                });
                function save() {
                    $.ajax({
                        type: 'POST',
                        url: "{%url 'om:save_edit_flow'%}",
                        data: JSON.stringify($('#result').data()),
                        success: function(result) {
                            if (result.result == 'Y') {
                                toastr.success(result.desc);
                            }
                            else {
                                toastr.error(result.desc);
                            }
                        }
                    });
                }
                {% if groups %}
                    $("#toggle_group_edit_flow").on("click", function(){
                        $(".collapse-link").trigger("click");
                    });
                    $(".sortable-list-group").sortable({
                            tolerance:"pointer", forcePlaceholderSize:!0, opacity:.8, axis: 'y',cursor: 'move',
                            stop: function(){
                                $('#result').data('flow', $(this).sortable("toArray"));
                                save();
                            },
                            create: function( event, ui ) {
                                $('#result').data('id', {{flow.id}});
                                $('#result').data('flow', $(this).sortable("toArray"));
                            }
                        }).disableSelection();
                    {% for group in groups %}
                        $(".sortable-list-task-{{group.group.id}}").sortable({
                            tolerance:"pointer", forcePlaceholderSize:!0, opacity:.8, axis: 'y',cursor: 'move',
                            stop: function(){
                                $('#result').data('group_'+{{group.group.id}} , $(this).sortable("toArray"));
                                save();
                            },
                            create: function( event, ui ) {
                                $('#result').data('group_'+{{group.group.id}} , $(this).sortable("toArray"));
                            }
                        }).disableSelection();
                        $('#edit_task_{{group.group.id}}').on('click', function() {
                            var edit_task_{{group.group.id}}_layer = layer.open({
                                  type: 2,
                                  title: '编辑组[' + '{{ group.group.name }}' + ']',
                                  area: ['700px', '530px'],
                                  fix: false, //不固定
                                  maxmin: true,
                                  content: "{%url 'om:edit_group' group.group.id %}"
                                });
                                layer.full(edit_task_{{group.group.id}}_layer);
                        });
                        $('#set_host_{{group.group.id}}').on('click', function() {
                            var set_host_{{group.group.id}}_layer = layer.open({
                                  type: 2,
                                  title: '编辑组[' + '{{ group.group.name }}' + ']',
                                  area: ['700px', '530px'],
                                  fix: false, //不固定
                                  maxmin: true,
                                  content: "{%url 'om:set_group_host' group.group.id %}"
                                });
                                layer.full(set_host_{{group.group.id}}_layer);
                        });
                        $('#add_task_{{group.group.id}}').on('click', function() {
                            var add_task_{{group.group.id}}_layer = layer.open({
                                  type: 2,
                                  title: '编辑作业[' + '{{ job.name }}' + ']',
                                  area: ['700px', '530px'],
                                  fix: false, //不固定
                                  maxmin: true,
                                  content: "{%url 'om:new_job' group.group.id %}"
                                });
                                layer.full(add_task_{{group.group.id}}_layer);
                        });
                        $('#del_task_{{group.group.id}}').on('click', function(){
                            layer.confirm(
                                    '是否确认删除？', {btn: ['确认','取消']},
                                    function(){
                                        $.ajax({
                                            type: 'GET',
                                            url: "{%url 'om:del_group_in_flow' flow.id group.group.id %}",
                                            data: JSON.stringify($('#result').data()),
                                            success: function(result) {
                                                if (result.result == 'OK') {
                                                    $('#group_{{group.group.id}}').remove()
                                                    layer.msg('删除成功!');
                                                }
                                                else {
                                                    layer.msg('删除失败!');
                                                }
                                            }
                                        });
                                    });
                        });
                        {% for job in group.job_list %}
                            $("#create_quick_task_{{group.group.id}}_{{job.id}}").on('click', function(){
                                $.get("{%url 'om:job_quick_task' job.id %}", function(result) {
                                    layer.msg(result.msg);
                                });
                            });
                            $('#edit_task_{{group.group.id}}_{{job.id}}').on('click', function(){
                                var edit_task_{{group.group.id}}_{{job.id}}_layer = layer.open({
                                  type: 2,
                                  title: '编辑作业[' + '{{ job.name }}' + ']',
                                  area: ['700px', '530px'],
                                  fix: false, //不固定
                                  maxmin: true,
                                  content: "{%url 'om:edit_job' job.id %}"
                                });
                                layer.full(edit_task_{{group.group.id}}_{{job.id}}_layer);
                            });
                            $('#del_task_{{group.group.id}}_{{job.id}}').on('click', function(){
                                var task = $(this).parent();
                                layer.confirm(
                                        '是否确认删除？', {btn: ['确认','取消']},
                                        function(){
                                            $.ajax({
                                                type: 'GET',
                                                url: "{%url 'om:del_job_in_group' group.group.id job.id %}",
                                                data: JSON.stringify($('#result').data()),
                                                success: function(result) {
                                                    if (result.result == 'OK') {
                                                        task.remove();
                                                        layer.msg('删除成功!');
                                                    }
                                                    else {
                                                        layer.msg('删除失败!');
                                                    }
                                                }
                                            });

                                        });
                            });
                        {% endfor %}
                    {% endfor %}
                    $('#get_back').on('click', function(){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                    $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
                {% endif %}
                $("#add_group_edit_flow").on("click", function(){
                    var add_group_edit_flow_layer = layer.open({
                        type: 2,
                        title: '编辑作业[' + '{{ job.name }}' + ']',
                        area: ['700px', '530px'],
                        fix: false, //不固定
                        maxmin: true,
                        content: "{%url 'om:new_group' flow.id %}"
                    });
                    layer.full(add_group_edit_flow_layer);
                });
            }
        );
    </script>
{% endblock %}