{% extends 'om/base.html' %}
{% load form_extra_tag %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    {% if save.saved and save.result %}
        <script src="{% static 'om/js/jquery.min.js' %}"></script>
        <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'om/layer/layer.js' %}"></script>
        <script type="text/javascript">
            var index = parent.layer.getFrameIndex(window.name);
            {% if save.result %}
                layer.alert('保存成功！',{icon: 6}, function(){
                    window.parent.location.reload();
                    parent.layer.close(index);
                });
            {% endif %}
        </script>
    {% else %}
        {% if save.saved and not save.result %}
            <script src="{% static 'om/js/jquery.min.js' %}"></script>
            <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'om/layer/layer.js' %}"></script>
            <script type="text/javascript">
                layer.alert('保存失败！[' + '{{ save.error_msg }}' +']',{icon: 5});
            </script>
        {% endif %}
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>编辑作业</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal" method='post'>
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                                        <div class="col-sm-8" style='display:block;'>
                                            {% if field.name in check_field_list %}
                                                <div class="switch">
                                                    <div class="onoffswitch">
                                                        {{ field | set_attr:'class=onoffswitch-checkbox' }}
                                                        <label class="onoffswitch-label" for="{{ field.id_for_label }}">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            {% elif field.name in disable_field_list %}
                                                {{ field | set_attr:'readonly=readonly' }}
                                            {% else %}
                                                {{ field | set_attr:'class=form-control' }}
                                            {% endif %}
                                            {% if field.errors %}
                                                <div class="alert alert-warning">{{ field.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-5">
                                        <button class="btn btn-primary" type="submit" value="save">保存</button>
                                        <button class="btn btn-white" id="cancel_form" type="button" value="cancel">取消</button>
                                    </div>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/codemirror/codemirror.js' %}"></script>
    <script src="{% static 'om/js/plugins/codemirror/mode/shell/shell.js' %}"></script>
    <script src="{% static 'om/js/plugins/codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'om/js/plugins/codemirror/mode/perl/perl.js' %}"></script>
    <script src="{% static 'om/js/plugins/prettyfile/bootstrap-prettyfile.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#code_source_select").hide();
            $( 'input[type="file"]' ).prettyFile();
        });
         var editor = CodeMirror.fromTextArea($("#id_script_content")[0], {
            mode: 'python', lineNumbers: true, indentUnit: 4,
            styleActiveLine: true, matchBrackets: true, theme: 'ambiance'
        });

        function task_mode(mode) {
            if (mode == "script_task") {
                $("#script_source, #script_type, #script_content").show();
                $("#file_use_local, #file_target_path").hide();
            }
            else {
                $("#script_source, #script_type, #script_content").hide();
                $("#file_use_local, #file_target_path").show();
            }
        }
        editor.setSize('%80', 300);

        function set_code_type(val) {
            switch(val)
            {
            case 'PY':
                editor.setOption("mode", 'python');
                break;
            case 'SHELL':
                editor.setOption("mode", 'shell');
                break;
            case 'BAT':
                editor.setOption("mode", 'perl');
                break;
            default:
                editor.setOption("mode", 'perl');
            }
        }

        set_code_type($("#id_script_type").children('option:selected').val());

        $('#id_script_type').change(function(){
            set_code_type($(this).children('option:selected').val());
        });

        $("input:radio[name='code_mode']").change(function (){
            editor.setOption("mode", $(this).prop("id"));
        });

        $("input:radio[name='task_type']").change(function (){
            task_mode($(this).prop("id"))
        });

        $("input:radio[name='code_source']").change(function (){
            if ($(this).prop("id") == "clone") {
                $("#code_source_select").show();
                $("#script_upload").hide();
            }
            else if ($(this).prop("id")  == "local")  {
                $("#script_upload").show();
                $("#code_source_select").hide();
            }
            else
            {
                $("#code_source_select").hide();
                $("#script_upload").hide();
            }
        });

        $("#stop_on_finish").change(function (){
            if ($("#stop_on_finish").prop("checked") ) {
                $("#stop_on_finish_desc").show();
            }
            else {
                $("#stop_on_finish_desc").hide();
            }
        });

        $("#stop_on_fail").change(function (){
            if ($(this).prop("checked") ) {
                $("#stop_on_fail_desc").show();
            }
            else {
                $("#stop_on_fail_desc").hide();
            }
        });

        $("#use_local_file").change(function (){
            if ($(this).prop("checked") ) {
                $("#file_use_local_upload").show();
            }
            else {
                $("#file_use_local_upload").hide();
            }
        });

        $("#use_local_file_path").change(function (e){
            if (e.target.files) {
                var reader = new FileReader();
                reader.onload = function()  {
                    $("#desc_div").text(this.result)
                };
                reader.readAsText(e.target.files[0]);
            }
        });

        $("#script_upload_path").change(function (e){
            if (e.target.files) {
                var reader = new FileReader();
                reader.onload = function()  {
                    editor.setValue(this.result)
                };
                reader.readAsText(e.target.files[0]);
            }
        });

        $('#cancel_form').click(function (e) {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        })
    </script>
{% endblock %}