{% extends 'om/base.html' %}
{% block body %}
{% load staticfiles %}
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <button class="btn btn-primary" id="toggle_group_edit_flow">切换视图</button>
                    <button class="btn btn-primary" id="add_group_edit_flow"><i class="fa fa-plus">增加步骤</i></button>
                </div>
            </div>
        </div>
        <ul class="col-sm-12 sortable-list-group" style=" list-style-type: none">
            {% for group in groups %}
                <li id="group_{{group.group.id}}">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{group.group.name}} <small>(备注：{{group.group.desc}})</small></h5>
                            <div class="ibox-tools">
                                <a class="btn btn-primary btn-xs" id="add_task_{{group.group.id}}"><i class="fa fa-plus">添加任务</i></a>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu dropdown-user todo-list m-t">
                                    <li>
                                        <input type="checkbox" value="" name="" class="i-checks"  {% if group.group.pause_when_finish %} checked {%  endif %}/>
                                        <span class="m-l-xs">执行完成暂停</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" name="" class="i-checks" {% if group.group.pause_when_error %} checked {%  endif %}/>
                                        <span class="m-l-xs">执行报错暂停</span>
                                    </li>
                                </ul>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <ul class="sortable-list-task-{{group.group.id}} agile-list" id="group_{{group.group.id}}">
                                {% for job in group.job_list %}
                                    <li class="warning-element"  id="task_{{ job.id }}">
                                        <div>
                                             <i class="fa fa-arrows-alt">{{ job.name }}</i>
                                             <a href="#" class="pull-right btn btn-xs btn-primary" id="edit_task_{{group.group.id}}_{{job.id}}"><i class="fa fa-edit">编辑</i></a>
                                             <a href="#" class="pull-right btn btn-xs btn-danger" id="del_task_{{group.group.id}}_{{job.id}}"><i class="fa fa-remove">删除</i></a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        <div id="result"></div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content text-center">
                    <button class="btn btn-primary" id="save_edit_flow"><i class="fa fa-save">保存</i></button>
                    <button class="btn btn-primary" id="exec_edit_flow"><i class="fa fa-arrow-circle-o-right">去执行</i></button>
                    <button class="btn btn-primary" id="cancel_edit_flow"><i class="fa fa-close">取消</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'om/js/jquery.min.js' %}"></script>
    <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'om/js/content.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'om/js/demo/peity-demo.min.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static 'om/js/plugins/validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/validate/messages_zh.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/iCheck/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function(x) {
                x.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });
        $(document).ready(
            function(){
                $("#toggle_group_edit_flow").on("click", function(){
                    $(".collapse-link").trigger("click");
                });
                $(".sortable-list-group").sortable({
                        tolerance:"pointer", forcePlaceholderSize:!0, opacity:.8, axis: 'y',cursor: 'move',
                        stop: function(){
                            $('#result').data('flow', $(this).sortable("toArray"));
                        },
                        create: function( event, ui ) {
                            $('#result').data('id', {{flow.id}});
                            $('#result').data('flow', $(this).sortable("toArray"));
                        }
                    }).disableSelection()
                {% for group in groups %}
                    $(".sortable-list-task-{{group.group.id}}").sortable({
                        tolerance:"pointer", forcePlaceholderSize:!0, opacity:.8, axis: 'y',cursor: 'move',
                        stop: function(){
                            $('#result').data('group_'+{{group.group.id}} , $(this).sortable("toArray"));
                        },
                        create: function( event, ui ) {
                            $('#result').data('group_'+{{group.group.id}} , $(this).sortable("toArray"));
                        }
                    }).disableSelection()
                    {% for job in group.job_list %}
                        $('#edit_task_{{group.group.id}}_{{job.id}}').on('click', function(){
                            var edit_task_{{group.group.id}}_{{job.id}}_layer = layer.open({
                              type: 2,
                              area: ['700px', '530px'],
                              fix: false, //不固定
                              maxmin: true,
                              content: "{%url 'om:edit_job' job.id %}"
                            });
                            layer.full(edit_task_{{group.group.id}}_{{job.id}}_layer);
                        });
                        $('#del_task_{{group.group.id}}_{{job.id}}').on('click', function(){
                            $("#task_{{group.group.id}}_{{ job.id }}").remove()
                        });
                    {% endfor %}
                    $('#add_task_{{group.group.id}}').on('click', function(){
                        //var add_task_layer = layer.open({
                        //  type: 2,
                        //  area: ['700px', '530px'],
                        //  fix: false, //不固定
                        //  maxmin: true,
                        //  content: "{%url 'om:edit_job' 1 %}"
                        //});
                        //layer.full(add_task_layer);
                    });
                {% endfor %}
                $('#cancel_edit_flow').on('click', function(){
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                });
                $('#save_edit_flow').on('click', function(){
                    $.ajax({
                        type: 'POST',
                        url: "{%url 'om:save_edit_flow'%}",
                        data: JSON.stringify($('#result').data()),
                        success: function(result) {
                            alert(result)
                        }
                    });
                    //alert(JSON.stringify($('#result').data()))
                });
                $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
            }
        );
    </script>
</body>
{% endblock %}