{% extends 'om/base.html' %}
{% load staticfiles %}
{% block other_css %}
    <script src="{% static 'om/js/echarts.min.js' %}"></script>
    <script src="{% static 'om/js/echarts-liquidfill.min.js' %}"></script>
{% endblock %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>概况</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row" id="server_count" style="width:100%; height:160px">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row" id="flow_count" style="width:100%; height:160px">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row" id="auto_task_count" style="width:100%; height:160px">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row" id="config_file_count" style="width:100%; height:160px">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row" id="today_task_count" style="width:100%; height:160px">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row" id="this_month" style="width:100%; height:160px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>最近任务执行记录</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="ibox-content">
                    <table data-toggle="table" id="table" data-page-size="5"
                           data-id-field="id" data-page-list="[5, 10, 25, 50{% if user.is_superuser %},ALL{% endif %}]"
                           data-show-header="true" data-show-footer="false" data-url="{% url 'om:get_action_history_list' %}"
                           data-show-toggle="true" data-resizable="true"
                           data-minimum-count-columns="2" data-show-columns="true"
                           data-show-refresh="true" data-icon-size="sm" data-search="true"
                           data-pagination="true" data-side-pagination="server"
                           data-show-export="true"
                           data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                           data-export-options='{
                             "fileName": "任务",
                             "worksheetName": "任务",
                             "jspdf": {
                               "autotable": {
                                 "styles": { "rowHeight": 20, "fontSize": 10 },
                                 "headerStyles": { "fillColor": 255, "textColor": 0 },
                                 "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                               }
                             }
                           }'
                    >
                        <thead>
                            <tr>
                                <th data-field="id">任务ID</th>
                                <th data-field="name">任务名称</th>
                                <th data-field="approval_status">审批状态</th>
                                <th data-field="exec_user">启动人</th>
                                <th data-field="founder">创建人</th>
                                <th data-field="status">任务状态</th>
                                <th data-field="start_time">开始时间</th>
                                <th data-field="end_time">结束时间</th>
                                <th data-field="cost_time">耗时（秒）</th>
                            </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    {% include 'om/table_load.html' %}
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        function make_liquid_chart(id, title, val){
            //https://github.com/ecomfe/echarts-liquidfill
            var radius = '90%';
            var fontSize = 16;
            var chart = echarts.init(document.getElementById(id));
            var option = {
                series: [{
                    type: 'liquidFill',
                    data: [0.6, 0.5, 0.4],
                    color: ['red', '#0f0', 'rgb(0, 0, 255)'],
                    itemStyle: {
                        normal: {
                            opacity: 0.6
                        },
                        emphasis: {
                            opacity: 0.9
                        }
                    },
                    radius: radius,
                    label: {
                        normal: {
                            formatter: function () {
                                return title+'\n'+val
                            },
                            textStyle: {
                                fontSize: fontSize
                            }
                        }
                    }
                }]
            };
            chart.setOption(option);
        }

        function this_month_chart(){
            var this_month_chart = echarts.init(document.getElementById('this_month'));
            var option = {
                title : {
                    text: '本月',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['未执行','执行中','成功','失败']
                },
                series : [
                    {
                        name: '本月统计',
                        type: 'pie',
                        radius : '60%',
                        center: ['60%', '60%'],
                        data:[
                            {value:{{ month_task_no_run }}, name:'未执行'},
                            {value:{{ month_task_running }}, name:'执行中'},
                            {value:{{ month_task_finish }}, name:'成功'},
                            {value:{{ month_task_run_fail }}, name:'失败'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            this_month_chart.setOption(option);
        }
        make_liquid_chart('today_task_count', '今日已执行', '{{ today_task_count }}');
        make_liquid_chart('server_count', '主机数', '{{ server_count }}');
        this_month_chart();
        make_liquid_chart('flow_count', '作业流数', '{{ flow_count }}');
        make_liquid_chart('auto_task_count', '定时任务流数', '{{ auto_task_count }}');
        make_liquid_chart('config_file_count', '配置文件数', '{{ config_file_count }}');

        function show_detail(task_id){
            var detail_layer = layer.open({
                  type: 2,
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content: "/om/action_detail/" + task_id
                });
                layer.full(detail_layer);
        }
        window.actionEvents = {
            'click .redo': function (e, value, row, index) {
                alert('即将执行: ' + row['task_name']);
                console.log(value, row, index);
            },
            'click .detail': function (e, value, row, index) {
                //noinspection JSUnresolvedVariable
                show_detail(row.task_id);
            }
        };
    </script>
{% endblock %}
