{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>概况</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget style1">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                    <span> 今日已执行 </span>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <h2 class="font-bold">{{ today_task_count }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-desktop fa-5x"></i>
                                    <span> 主机数 </span>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <h2 class="font-bold">1430</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-calendar fa-5x"></i>
                                     <span> 本月统计 </span>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <div class="pl20 pr5 pb5 pt5" style="width:65%;">
                                     <div>
                                         <div>未执行：<span id="instanceSuccess">{{ month_task_no_run }}</span></div>
                                         <div>执行中：<span id="instanceRunning">{{ month_task_running }}</span></div>
                                         <div>成功：<span id="instanceSuccess">{{ month_task_finish }}</span></div>
                                         <div>失败：<span id="instanceFail">{{ month_task_run_fail }}</span></div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget style1 yellow-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                     <span> 常用作业数 </span>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>最近任务执行记录</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="ibox-content">
                    <table data-toggle="table" id="table" data-search="true" data-show-refresh="true" data-show-toggle="true"
                           data-show-columns="true"  data-minimum-count-columns="2" data-show-pagination-switch="true"
                           data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]"
                           data-show-header="true" data-show-footer="false" data-url="{% url 'om:get_action_history_list' %}">
                        <thead>
                            <tr>
                                <th data-field="task_id">任务ID</th>
                                <th data-field="task_name">任务名称</th>
                                <th data-field="run_user">启动人</th>
                                <th data-field="task_status">任务状态</th>
                                <th data-field="start_time">开始时间</th>
                                <th data-field="end_time">结束时间</th>
                                <th data-field="cost_time">耗时（秒）</th>
                                <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                            </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        function actionFormatter(value, row, index) {
            return [
                 '<a href="javascript:;" class="detail">查看详情</a>'
            ].join('');
        }
        function show_detail(task_id){
            var detail_layer = layer.open({
                  type: 2,
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content: "/om/action_detail/" + task_id
                });
                layer.full(detail_layer);
        }
        window.actionEvents = {
            'click .redo': function (e, value, row, index) {
                alert('即将执行: ' + row['task_name']);
                console.log(value, row, index);
            },
            'click .detail': function (e, value, row, index) {
                //noinspection JSUnresolvedVariable
                show_detail(row.task_id);
            }
        };
    </script>
{% endblock %}