{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_content %}
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="{% static 'om/img/main-palogo.jpg' %}" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">{{ user.username }}</strong></span>
                                    <span class="text-muted text-xs block">
                                        {% if user.is_superuser %}
                                            管理员
                                        {% elif user.is_authenticated %}
                                            {% if user.username == 'guest' %}
                                                游客
                                            {% else %}
                                                普通用户
                                            {% endif %}
                                        {% else %}
                                            未登陆
                                        {% endif %}
                                        <b class="caret"></b>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                {% if user.is_superuser %}
                                    <li><a class="J_menuItem" href="{% url 'om:chg_pwd' %}">修改密码</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                                {% if user.is_superuser %}
                                    {% for name,url in host.items %}
                                        <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
                                    {% endfor %}
                                    <li><a href="/admin/" target="_blank">后台管理</a></li>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                    <li><a href="{% url 'login' %}?next={% url 'om:index' %}">登陆</a></li>
                                {% else %}
                                    <li><a href="{% url 'rest_framework:logout' %}?next={% url 'om:index' %}">退出</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="logo-element">OM
                        </div>
                    </li>
                    <li>
                        <a href="{%url 'index' %}"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{%url 'utils:common_address' %}"><i class="fa fa-sticky-note"></i> <span class="nav-label">常用地址</span></a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user.username != 'guest' %}
                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar-o"></i>
                                    <span class="nav-label">作业管理</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="J_menuItem" href="{% url 'om:quick_exec_script'%}"><i class="fa fa-code">快速执行脚本</i></a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="{% url 'om:quick_upload_file'%}"><i class="fa fa-file-zip-o">快速分发文件</i></a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="{% url 'om:exec_flow'%}"><i class="fa fa-edit">作业流管理</i></a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="{%url 'om:upload_file'%}"><i class="fa fa-file">配置文件管理</i></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-tasks"></i>
                                    <span class="nav-label">任务管理</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="J_menuItem" href="{% url 'om:action_history'%}"><i class="fa fa-list-alt">查看历史任务</i></a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="{% url 'om:auto_task' %}"><i class="fa fa-clock-o">设置定时任务</i></a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <a href="#">
                                <i class="fa fa-cutlery"></i>
                                <span class="nav-label">快捷工具</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" href="{%url 'om:unlock_win'%}"><i class="fa fa-unlock">解锁windows</i></a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="{%url 'switch:index'%}"><i class="fa fa-tv">查看交换机</i></a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="{%url 'om:show_server'%}"><i class="fa fa-search">系统信息</i></a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="{%url 'om:salt_status'%}"><i class="fa fa-search-plus">主机详情</i></a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="{%url 'utils:picutil'%}"><i class="fa fa-picture-o">图片工具</i></a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="{%url 'utils:net'%}"><i class="fa fa-wifi">网络信息</i></a>
                                </li>
                                {% if is_internal %}
                                    <li>
                                        <a class="J_menuItem" href="{%url 'utils:activity'%}"><i class="fa fa-recycle">竞猜活动</i></a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="J_menuItem" href="{%url 'utils:make_firewall_table'%}"><i class="fa fa-wifi">提墙辅助</i></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/om/help/index/"><i class="fa fa-question"></i> <span class="nav-label">帮助文档</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i></button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i></button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">常用操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a></li>
                        <li class="navbar-minimalize"><a>切换左侧导航栏</a></li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a></li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a></li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'rest_framework:logout' %}?next={% url 'om:index' %}" class="roll-nav roll-right J_tabExit">
                        <i class="fa fa fa-sign-out">退出</i>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}?next={% url 'om:index' %}" class="roll-nav roll-right J_tabExit">
                        <i class="fa fa fa-sign-in">登陆</i>
                    </a>
                {% endif %}
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="{%url 'om:default_content'%}" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2016-2020 <a href="{%url 'index' %}" target="_blank">运维工作平台</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
        <!--聊天窗口开始
        <div class="small-chat-box fadeInRight animated">
            <div class="heading" draggable="true">
                <small class="chat-date pull-right">意见反馈</small> 管理员在线
            </div>
            <div style="position: relative; width: auto; height: 234px;">
                <div class="content" style="width: auto; height: 234px;">
                    <div class="left">
                        <div class="author-name">管理员 <small class="chat-date">10:02</small></div>
                        <div class="chat-message active">你好</div>
                    </div>
                    <div class="right">
                        <div class="author-name">用户 <small class="chat-date">11:24</small></div>
                        <div class="chat-message">你好，请问H+有帮助文档吗？</div>
                    </div>
                    <div class="left">
                        <div class="author-name">管理员 <small class="chat-date">08:45</small></div>
                        <div class="chat-message active">有，购买的H+源码包中有帮助文档，位于docs文件夹下</div>
                    </div>
                </div>
            </div>
            <div class="form-chat">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control">
                        <span class="input-group-btn"> <button class="btn btn-primary" type="button">发送</button>
                    </span>
                </div>
            </div>
        </div>
        <div id="small-chat">
            <span class="badge badge-warning pull-right">3</span>
            <a class="open-small-chat">
                <i class="fa fa-comments"></i>
            </a>
        </div>
        聊天窗口结束-->
    </div>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'om/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/layer/layer.min.js' %}"></script>
    <script src="{% static 'om/js/hplus.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'om/js/contabs.min.js' %}"></script>
{% endblock %}

