{% extends 'om/base.html' %}
{% load form_extra_tag %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    {% if save.saved and save.result %}
        <script src="{% static 'om/js/jquery.min.js' %}"></script>
        <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'om/layer/layer.js' %}"></script>
        <script type="text/javascript">
            var index = parent.layer.getFrameIndex(window.name);
            {% if save.result %}
                layer.alert('保存成功！',{icon: 6}, function(){
                    window.parent.location.reload();
                    parent.layer.close(index);
                });
            {% endif %}
        </script>
    {% else %}
        {% if save.saved and not save.result %}
            <script src="{% static 'om/js/jquery.min.js' %}"></script>
            <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'om/layer/layer.js' %}"></script>
            <script type="text/javascript">
                layer.alert('保存失败！[' + '{{ save.error_msg }}' +']',{icon: 5});
            </script>
        {% endif %}
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>编辑任务属性</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal" method='post'>
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                                        <div class="col-sm-8" style='display:block;'>
                                            {{ field | set_attr:'class=form-control' }}
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-5">
                                        <button class="btn btn-primary" type="submit" value="save">保存</button>
                                        <button class="btn btn-white" id="cancel_form" type="button" value="cancel">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</body>
{% endblock %}
{% if not save.saved %}
    {% block other_js %}
        <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
        <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
        <script src="{% static 'codemirror/mode/shell/shell.js' %}"></script>
        <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
        <script src="{% static 'codemirror/mode/perl/perl.js' %}"></script>
        <script src="{% static 'om/js/plugins/prettyfile/bootstrap-prettyfile.js' %}"></script>
    {% endblock %}
{% endif %}