{% extends 'om/base.html' %}
<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>运维工作平台 - 快速分发文件</title>
    {% load staticfiles %}
    <meta name="keywords" content="H+">
    <meta name="description" content="H+">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    {% block head_link %}
    <link rel="shortcut icon" href="{% static 'om/favicon.ico' %}">
    <link href="{% static 'om/css/bootstrap.min14ed.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/font-awesome.min93e3.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/style.min862f.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'om/css/plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    {% endblock %}
</head>
{% endblock %}
{% block body %}
{% load staticfiles %}
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>快速分发文件</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">任务名称</label>
                                <div class="col-sm-8">
                                    <input type="email" placeholder="任务名称" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">目标机器</label>
                                <div class="col-sm-8">
                                    <div >
                                        <button type="button" class="btn btn-success" id="choose_server"><i class="fa fa-desktop"></i>&nbsp;选择服务器</button>
                                    </div>
                                    <div >
                                        <table id="table" data-toggle="table" data-pagination="true" data-id-field="id" data-page-size="3"
                                            data-page-list="[3, 10, ALL]" data-height="250">
                                            <thead>
                                                <tr>
                                                    <th data-field="server_ip">IP</th>
                                                    <th data-field="server_status">状态</th>
                                                    <th data-field="server_hostname">主机名</th>
                                                    <th data-field="server_action" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">执行账户</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select data-placeholder="请选择" class="chosen-select"  style="width:650px;">
                                            <option value="">执行账户</option>
                                            <option value="1" hassubinfo="true">root</option>
                                            <option value="2" hassubinfo="true">wls81</option>
                                            <option value="3" hassubinfo="true">deployop</option>
                                            <option value="4" hassubinfo="true">logarchive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">文件来源</label>
                                <div class="col-sm-8">
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="local_file" value="local_file" name="file_source" checked="">
                                        <label for="local_file"> 本地文件 </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="server_file" value="server_file" name="file_source">
                                        <label for="server_file"> 服务器文件 </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="text-center">
                            <a data-toggle="modal" class="btn btn-primary">开始执行</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
    <script src="{% static 'om/js/jquery.min.js' %}"></script>
    <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'om/js/content.min.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script>
        $(".chosen-select").chosen();
        $('#choose_server').on('click', function(){
            var choose_server_layer = layer.open({
              type: 2,
              area: ['700px', '530px'],
              fix: false, //不固定
              maxmin: true,
              content: "{%url 'choose_server'%}"
            });
            layer.full(choose_server_layer);
        });

       function actionFormatter(value, row, index) {
            return [
                '<a class="delete_server" href="javascript:void(0)" title="删除">',
                '<button type="button" class="btn btn-info">删除</button>',
                '</a>'
            ].join('');
        }

        setTimeout(function () {
            $('#table').bootstrapTable('resetView');
        }, 200);

        window.actionEvents = {
            'click .delete_server': function (e, value, row, index) {
                $('#table').bootstrapTable('remove', {field: 'server_ip', values: [row.server_ip]});
            }
        };
    </script>
    {% endblock %}
</body>
{% endblock %}