{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    {% if saved and result %}
        <script src="{% static 'om/js/jquery.min.js' %}"></script>
        <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'om/layer/layer.js' %}"></script>
        <script type="text/javascript">
            var index = parent.layer.getFrameIndex(window.name);
            layer.alert('保存成功！',{icon: 6}, function(){
                window.parent.location.reload();
                parent.layer.close(index);
            });
        </script>
    {% else %}
        {% if saved and not result %}
        <script src="{% static 'om/js/jquery.min.js' %}"></script>
        <script src="{% static 'om/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'om/layer/layer.js' %}"></script>
        <script type="text/javascript">
            layer.alert('保存失败！[' + '{{ error_msg }}' +']',{icon: 5});
        </script>
        {% endif %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>快速执行脚本</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" method='post' onsubmit="return before_submit()">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">脚本名称</label>
                                <div class="col-sm-8">
                                    <input id="id_name" name="name" type="text" maxlength="100" placeholder="脚本名称" class="form-control" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">目标机器</label>
                                <div class="col-sm-8">
                                    <div >
                                        <button type="button" class="btn btn-success" id="choose_server"><i class="fa fa-desktop"></i>&nbsp;选择服务器</button>
                                    </div>
                                    <div>
                                        <table id="table" data-toggle="table" data-pagination="true" data-id-field="id" data-page-size="3"
                                            data-page-list="[3, 10{% if user.is_superuser %},ALL{% endif %}]" data-height="250" data-pagination-v-align="both">
                                            <thead>
                                                <tr>
                                                    <th data-field="ip">IP</th>
                                                    <th data-field="host">主机名</th>
                                                    <th data-field="entity_name" data-sortable="true">实体</th>
                                                    <th data-field="env" data-sortable="true">环境</th>
                                                    <th data-field="sys" data-sortable="true">系统</th>
                                                    <th data-field="agent_name" data-sortable="true">服务名</th>
                                                    <th data-field="server_action" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <input id="id_server_list" name="server_list" type="hidden" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">执行账户</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select id="id_exec_user" name="exec_user" data-placeholder="请选择" class="chosen-select"  style="width:650px;">
                                            {% for user in users %}
                                                <option value="{{ user.name }}">{{ user.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                             <div id="script_source" class="form-group">
                                <label class="col-sm-2 control-label">脚本来源</label>
                                <div class="col-sm-3">
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="manual" value="manual" name="code_source" checked="">
                                        <label for="manual"> 手工录入 </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="select_exist_code" value="select_exist_code" name="code_source">
                                        <label for="select_exist_code"> 现有脚本 </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="local" value="local" name="code_source">
                                        <label for="local"> 本地上传 </label>
                                    </div>
                                </div>
                                <div id="script_upload" class="col-sm-5" style="display:none">
                                    <input id="script_upload_path" type="file" class="form-control">
                                </div>
                            </div>
                            <div id="code_source_select" class="form-group">
                                <label class="col-sm-2 control-label">选择脚本</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select id="id_chosen-code-source" data-placeholder="请选择脚本" class="chosen-code-source"  style="width:650px;">
                                            {% for script in scripts %}
                                            <option value="{{ script.id }}">{{ script.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">脚本类型</label>
                                <div class="col-sm-8">
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="python" value="python" name="code_mode" checked="">
                                        <label for="python"> python </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="shell" value="shell" name="code_mode">
                                        <label for="shell"> shell </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="perl" value="bat" name="code_mode">
                                        <label for="perl"> bat </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">脚本内容</label>
                                <div class="col-sm-8">
                                    <!--suppress HtmlFormInputWithoutLabel -->
                                    <textarea id="script_content" name="script_content">
#coding:utf-8
import sys, os

def process():
    #process this
    print 'process task'

if __name__ == '__main__':
    process()
</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-5">
                                    <button class="btn btn-primary" type="submit" value="save">创建任务</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% if not saved %}
    {% block other_js %}
        <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
        <script src="{% static 'om/js/plugins/chosen/chosen.jquery.js' %}"></script>
        <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
        <script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
        <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
        <script src="{% static 'codemirror/mode/perl/perl.js' %}"></script>
        <script src="{% static 'codemirror/mode/shell/shell.js' %}"></script>
        <script src="{% static 'om/layer/layer.js' %}"></script>
        <script src="{% static 'om/js/plugins/prettyfile/bootstrap-prettyfile.js' %}"></script>
        <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
        <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js' %}"></script>
        <script src="{% static 'om/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
        <!--suppress JSUnusedLocalSymbols, JSUnresolvedVariable -->
        <script>
            $(document).ready(function() {
                $(".chosen-select").chosen();
                $(".chosen-code-source").chosen();
                $("#code_source_select").hide();
                $('input[type="file"]' ).prettyFile();
            });

            function actionFormatter(value, row, index) {
                return [
                    '<a class="delete_server" href="javascript:void(0)" title="删除">',
                    '<button type="button" class="btn btn-xs btn-info">删除</button>',
                    '</a>'
                ].join('');
            }

            setTimeout(function () {$('#table').bootstrapTable('resetView');}, 200);

            window.actionEvents = {
                'click .delete_server': function (e, value, row, index) {
                    $('#table').bootstrapTable('remove', {field: 'server_ip', values: [row.server_ip]});
                }
            };

            var editor = CodeMirror.fromTextArea($("#script_content")[0], {
                mode: 'python',
                lineNumbers: true,
                indentUnit: 4,
                styleActiveLine: true,
                matchBrackets: true,
                theme: 'ambiance'
            });
            editor.setSize('%80', 300);

            $("input:radio[name='code_mode']").change(function (){
                editor.setOption("mode", $(this).prop("id"));
            });

            function before_submit() {
                $('#id_server_list').val(JSON.stringify($('#table').bootstrapTable("getData")));
                return true;
            }

            function set_code_script(s_id) {
                $.get('/om/get_common_script_content/'+s_id, function(result) {
                    editor.setValue(result.content);
                });
            }

            $('#id_chosen-code-source').change(function (){
                set_code_script($(this).children('option:selected').val());
            });

            $('#choose_server').on('click', function(){
                var choose_server_layer = layer.open({
                  type: 2,
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content: "{%url 'om:choose_server'%}"
                });
                layer.full(choose_server_layer);
            });

            $("#script_upload_path").change(function (e){
                if (e.target.files) {
                    var reader = new FileReader();
                    reader.onload = function()  {
                        editor.setValue(this.result)
                    };
                    reader.readAsText(e.target.files[0]);
                }
            });

            $("input:radio[name='code_source']").change(function (){
                if ($(this).prop("id") == "select_exist_code") {
                    $("#code_source_select").show();
                    $("#script_upload").hide();
                    set_code_script($("#id_chosen-code-source").children('option:selected').val());
                }
                else if ($(this).prop("id")  == "local")  {
                    $("#script_upload").show();
                    $("#code_source_select").hide();
                }
                else
                {
                    $("#code_source_select").hide();
                    $("#script_upload").hide();
                }
            });
        </script>
    {% endblock %}
{% endif %}