{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>信息查询</h5>
                    </div>
                    <div class="ibox-content">
                        {% if user.is_superuser %}
                            <button id="refresh-server" class="btn btn-primary" type="button" value="save">更新</button>
                        {% endif %}
                        <table id="table" data-toggle="table" data-url="{% url 'om:salt_status_api' %}"
                               data-striped="true" data-click-to-select="true"
                               data-page-list="[10, 20, 50{% if user.is_superuser %},ALL{% endif %}]"
                               data-show-toggle="true" data-resizable="true"
                               data-minimum-count-columns="2" data-show-columns="true"
                               data-show-refresh="true" data-icon-size="sm" data-search="true"
                               data-pagination="true" data-side-pagination="server"
                               data-show-export="true" data-pagination-v-align="both"
                               data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                               data-export-options='{
                                 "fileName": "salt-minion",
                                 "worksheetName": "salt-minion",
                                 "jspdf": {
                                   "autotable": {
                                     "styles": { "rowHeight": 20, "fontSize": 10 },
                                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                                   }
                                 }
                               }'
                        >
                            <thead>
                                <tr>
                                    <th data-field="name" data-sortable="true">主机</th>
                                    <th data-field="env" data-sortable="true">环境类型</th>
                                    <th data-field="os" data-sortable="true">系统类型</th>
                                    <th data-field="update_time" data-sortable="true">更新时间</th>
                                    <th data-field="action" data-formatter="formatter" data-events="events">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    {% include 'om/table_load.html' %}
    <script src="{% static 'om/js/reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <!--suppress JSUnresolvedVariable, JSUnusedLocalSymbols -->
    <script type="text/javascript">
        $(document).ready(function (){
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var url = ws_scheme + '://' + window.location.host + window.location.pathname;
            url += '?session_key={{ request.session.session_key }}';
            //noinspection JSUnresolvedFunction
            var inst = new ReconnectingWebSocket(url);
            inst.onmessage = function(msg) {
                if (JSON.parse(msg.data).result == 'Y') {
                    toastr.success('刷新成功！');
                    $('#table').bootstrapTable("refresh")
                }
                else {
                    toastr.error(msg.data);
                }
                layer.closeAll('loading');
            };
            {% if user.is_superuser %}
                $('#refresh-server').on('click', function () {
                    layer.load();
                    inst.send(JSON.stringify({'info': 'refresh-server'}));
                });
            {% endif %}
        });
        function formatter(value, row, index) {
            var actions = new Array()
            actions.push('<div class="btn-group">');
            actions.push('<button class="btn btn-xs btn-success show_info" title="查看"><i class="fa fa-edit">查看</i></button>');
            actions.push('<button class="btn btn-xs btn-danger admin_action" title="操作"><i class="fa fa-certificate">操作</i></button>');
            actions.push('</div>');
            return actions.join('&nbsp;&nbsp;');
        }
        window.events = {
            'click .show_info': function (e, value, row, _) {
                $.post("{% url 'om:get_grains' %}", {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'agent_name': row.name
                },function(result) {
                    layer.load();
                    var json_layer = layer.open({
                      type: 1,
                      skin: 'layui-layer-demo', //样式类名
                      closeBtn: 0, //不显示关闭按钮
                      anim: 2, area: ['90%', '90%'],
                      shadeClose: true, //开启遮罩关闭
                      content: '<pre>' + JSON.stringify(result.return[0][row.name], null, 4) + '</pre>'
                    });
                    layer.closeAll('loading');
                });
            },
            'click .admin_action': function (e, value, row, _) {
                var admin_action_layer = layer.open({
                  type: 2,
                  title: '操作[' + row.name + ']',
                  area: ['700px', '530px'],
                  fix: false, //不固定
                  maxmin: true,
                  content:"/om/admin_action/"+row.name+"/"
                });
                layer.full(admin_action_layer);
            }
        };
    </script>
{% endblock %}
