{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>信息查询</h5>
                    </div>
                    <div class="ibox-content">
                        {% if user.is_superuser %}
                            <button id="syn_data_outside" title="同步棱镜和detector的数据" class="btn btn-primary" type="button" value="save">同步外部数据</button>
                        {% endif %}
                        <table id="table" data-toggle="table" data-url="{% url 'om:get_server_list' %}"
                               data-striped="true" data-click-to-select="true"
                               data-page-list="[10, 20, 50{% if user.is_superuser %},ALL{% endif %}]"
                               data-escape="true" data-pagination-v-align="both"
                               data-show-toggle="true" data-resizable="true"
                               data-minimum-count-columns="2" data-show-columns="true"
                               data-show-refresh="true" data-icon-size="sm" data-search="true"
                               data-pagination="true" data-side-pagination="server"
                               data-show-export="true"
                               data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                               data-export-options='{
                                 "fileName": "服务器",
                                 "worksheetName": "服务器",
                                 "jspdf": {
                                   "autotable": {
                                     "styles": { "rowHeight": 20, "fontSize": 10 },
                                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                                   }
                                 }
                               }'
                        >
                            <thead>
                                <tr>
                                    <th data-field="ip" data-sortable="true" data-width="90">IP</th>
                                    <th data-field="host" data-sortable="true" data-width="90">主机名</th>
                                    <th data-field="entity_name" data-formatter="entityFormatter">实体</th>
                                    <th data-field="env" data-sortable="true" data-width="60">环境</th>
                                    <th data-field="sys" data-sortable="true" data-width="60">系统类型</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    {% include 'om/table_load.html' %}
    <script src="{% static 'om/js/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        const web = new channels.WebSocketBridge();
        web.connect(window.location.pathname+'?session_key={{ request.session.session_key }}');
        web.listen(function(action) {
            if (action.result === 'Y') {
                toastr.success('导入成功！');
                $('#table').bootstrapTable("refresh")
            }
            else {
                toastr.error(action.result);
            }
            layer.closeAll('loading');
        });
        {% if user.is_superuser %}
            $('#syn_data_outside').on('click', function () {
                layer.load();
                web.send({info: 'syn_data_outside'});
            });
        {% endif %}
        function entityFormatter(value, row, index) {
            var content_arr = value.split(',');
            return content_arr.length > 1 ? "<pre style='background-color: rgba(255,255,255,.15);border-style: none;padding: 0;margin: 0;'>" + content_arr.join('</br>') + '</pre>' : value;
        }
    </script>
{% endblock %}