{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>信息查询</h5>
                    </div>
                    <div class="ibox-content">
                        <table id="table" data-toggle="table" data-url="{% url 'om:get_server_list' %}"
                               data-striped="true" data-click-to-select="true"
                               data-page-list="[10, 20, 50{% if user.is_superuser %},ALL{% endif %}]"

                               data-show-toggle="true" data-resizable="true"
                               data-minimum-count-columns="2" data-show-columns="true"
                               data-show-refresh="true" data-icon-size="sm" data-search="true"
                               data-pagination="true" data-side-pagination="server"
                               data-show-export="true"
                               data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
                               data-export-options='{
                                 "fileName": "服务器",
                                 "worksheetName": "服务器",
                                 "jspdf": {
                                   "autotable": {
                                     "styles": { "rowHeight": 20, "fontSize": 10 },
                                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                                   }
                                 }
                               }'
                        >
                            <thead>
                                <tr>
                                    <th data-field="ip" data-sortable="true" data-width="90">IP</th>
                                    <th data-field="host" data-sortable="true" data-width="90">主机名</th>
                                    <th data-field="entity_name" >实体</th>
                                    <th data-field="env" data-sortable="true" data-width="60">环境</th>
                                    <th data-field="sys" data-sortable="true" data-width="60">系统类型</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    {% include 'om/table_load.html' %}
{% endblock %}