{% load staticfiles %}
    <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'om/js/bootstrap-editable.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/editable/bootstrap-table-editable.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/xlsx.core.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/tableExport.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/FileSaver.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/jspdf.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/jspdf.plugin.autotable.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/resizable/bootstrap-table-resizable.min.js' %}"></script>
    <script src="{% static 'om/js/plugins/bootstrap-table/resizable/colResizable-1.5.source.js' %}"></script>