{% extends 'om/base.html' %}
{% load form_extra_tag %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>查看任务属性</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" method='post'>
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.value != '' %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                                        <div class="col-sm-8" style='display:block;'>
                                            {{ field | set_attr:'class=form-control,readonly=true' }}
                                            {{ field.errors }}
                                        </div>
                                        {% if field.name in ip_list_field %}
                                            <button id="show_ip_list" class="btn btn-xs btn-info" type="button">详情</button>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-5">
                                    <button class="btn btn-primary" id="close_page" type="button" value="cancel">关闭</button>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block other_js %}
    <script src="{% static 'om/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/shell/shell.js' %}"></script>
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror/mode/perl/perl.js' %}"></script>
    <script src="{% static 'om/js/plugins/prettyfile/bootstrap-prettyfile.js' %}"></script>
    <script src="{% static 'om/layer/layer.js' %}"></script>
    {% include 'om/json_view.html' %}
    <script type="text/javascript">
    $(document).ready(
        function() {
            $('#close_page').on('click', function(){
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });
            $("select").prop("disabled", true);
            $('#show_ip_list').on('click', function() {
                layer.load();
                $.get('/om/task_server_detail_list/'+'{{ tid }}', function(result) {
                    $("#json").JSONView(result, { collapsed: false, nl2br: true, recursive_collapser: true });
                    //$('#json').JSONView('toggle', 2);
                    var json_layer = layer.open({
                        type: 1,
                        title: '详情',
                        area: ['700px', '900px'],
                        fix: false, //不固定
                        maxmin: true,
                        content: $('#json_view')
                    });
                    layer.full(json_layer);
                });
                layer.closeAll('loading');
            });
        }
    );
    </script>
{% endblock %}