{% extends 'om/base.html' %}
{% load staticfiles %}
{% block body_begin %}
<body class="gray-bg">
{% endblock %}
{% block body_content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>解锁windows主机</h5>
                    </div>
                    <div class="ibox-content">
                        <!--suppress JSUnresolvedFunction -->
                        <form class="form-horizontal" method='post' onsubmit="return before_submit()">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-8">
                                    <input id="id_user" name="user" type="text" maxlength="100" placeholder="用户名" value="system-admin" class="form-control" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择主机</label>
                                <div class="col-sm-8">
                                    <table id="table" data-toggle="table" data-sort-name="system"
                                           data-sort-order="desc" data-url="{% url 'om:get_ip_host_list' %}"
                                           data-striped="true" data-click-to-select="true"
                                           data-pagination="true" data-search="true"
                                           data-page-list="[5, 10, 20, 50{% if user.is_superuser %},ALL{% endif %}]"
                                           data-show-refresh="true" data-show-toggle="true"
                                           data-filter-control="false" data-filter-show-clear="false"
                                           data-resizable="true" data-pagination-v-align="both"
                                    >
                                        <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="name" data-sortable="true">主机-IP</th>
                                                <th data-field="env" data-sortable="true">环境</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <input id="id_server_list" name="server_list" type="hidden" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-5">
                                    <button id="save_layer" class="btn btn-primary" type="button">解锁</button>
                                </div>
                                <div class="col-sm-8 col-sm-offset-2"><pre id="result"></pre></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_js %}
    {% include 'om/table_load.html' %}
    <script src="{% static 'om/layer/layer.js' %}"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        $(document).ready(function (){
            var $t = $('#table');
            var $r = $('#result');
            const unlocker = new channels.WebSocketBridge();
            unlocker.connect(window.location.pathname+'?session_key={{ request.session.session_key }}');
            unlocker.listen(function(action) {
                $r.text(action.result);
                layer.closeAll('loading');
            });

            $('#save_layer').on('click', function () {
                unlocker.send({'user': $('#id_user').val(), 'server_info': $t.bootstrapTable("getSelections")});
                $r.text('解锁中，请稍后……');
                layer.load();
            });

            function before_submit() {
                $('#id_server_list').val(JSON.stringify($t.bootstrapTable("getSelections")));
                return true;
            }
        });
    </script>
{% endblock %}